/* rouge E71D36
blanc EFFFE9 */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  background-color: #011627;
  height: 100vh;
}

.App {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  color: #2EC4B6 ;
  text-align: center;
}

.App * {
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
  color: #EFFFE9;
}

a {
  color: #EFFFE9;
  /* text-decoration: none; */
}

.home-title{
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* NAVBAR */

.navbar {
  list-style-type: none;
  display: flex;
  padding: 20px 0;
  padding-left: 0;
  justify-content: space-evenly;
}

li {
  overflow: hidden;
  list-style: none;
  white-space:nowrap;
  margin : 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  li a {
      opacity: 0;
      color: #EFFFE9;
      max-width: 0;
      display: inline-block;
      text-decoration: none;
      transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
  }
      li a:hover {
          color: #2EC4B6;
      }
      li a i {
          display: block;
          padding-right: 1em;
      }
  .header-icon {
      color : #EFFFE9;
  }
      li:hover a {
          opacity: 1;
          max-width: 150px;
          transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
      }

.mockup {
  margin-top: 30px;
  max-width: 400px;
}

/* CONTACT */

.form-contact {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.MuiFormLabel-root.Mui-focused {
  color : #2EC4B6 !important;
}
.MuiInput-underline {
  color: #2EC4B6 !important;
}
.MuiInput-underline:after {
  border-bottom-color: #2EC4B6 !important ;
}
.MuiInput-underline:before {
  border-bottom-color: #EFFFE9 !important ;
}
.MuiFormLabel-root {
  color: #EFFFE9 !important;
}

.input-form {
  margin-bottom : 15px !important;
}

.contact-icon {
  margin: 20px;
}

.contact-icon:hover {
  color: #2EC4B6;
}

.contact-icons-container {
  margin-top: 50px;
}

.contact-title {
  margin: 30px;
}

/* Project */

.MuiButtonBase-root {
  padding: 0 !important;
  background-color: #011627 !important;
}

.MuiAccordionDetails-root {
  background-color: #011627 !important;
  color: #EFFFE9 !important;
}
.MuiPaper-root {
  box-shadow: none !important;
}
.project-accordion {
  width: 600px !important;
}

.project-table td {
  padding: 10px;
}

.project-table-title {
  font-weight: bold;
  color: #2EC4B6;
}

.accordion-details {
  display: flex;
  flex-direction: column;
}

.accordion-details a {
  font-weight: bold;
  color: #2EC4B6;
}

.projects-container {
  margin: 20px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* About  */

.about-container {
  max-width: 900px;
  margin: 0 auto;
}

.about-container a, .about-container p, .logo-container  {
  margin-top: 50px;
}

.about-container a {
  color: #2EC4B6;
  font-weight: bold;
}

#about-bold {
  margin: 0;
  font-weight: bold;
}

.logo {
  height: 100px;
  margin: 15px;
}

@media screen and (max-width: 640px) {
  .mockup {
    max-width: 200px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 27px;
  }
  
  h3 {
    font-size: 20px;
  }

  .snip1585 {
    max-width: 300px;
  }
  .project-accordion {
    width: 300px !important;
  }
}